/* Molecules/Pagination.css */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .pagination-info {
    font-size: 14px;
    color: #666;
  }
  
  .pagination-buttons {
    display: flex;
  }
  